.main{
  font-family: sans-serif;
  background-color: aliceblue;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
}
.menu{
  color: white;
  background-color: dodgerblue;
  float: left;
  width: 20%;
  height: 100%;
}
.menu-header{
  background-color: darkblue;
  padding: 10px;
}

.tickets-list{
  max-height: 100%;
  list-style: none;
  padding: 0;
}

.new-ticket-button{
  background-color: darkblue;
  border-radius: 5px;
  margin: 15px auto auto;
  padding: 5px;
  max-width: 50%;
}
.new-ticket-button a{
  color: rgba(255, 255, 255, 0.9);
}

.tickets-list li{
  font-size: 16px;
  color: white;
  opacity: 0.7;
  padding: 10px 5px;
  margin: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tickets-list li img{
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  float: left;
}
.tickets-list li span{
  height: 100%;
}

.open-tickets{
  max-height: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

a{
  text-decoration-line: none;
}

.tickets-list li:hover{
  opacity: 1;
}

.new-ticket-button a:hover{
  color: rgba(255, 255, 255, 1);
}

.content{
  margin-left: 20%;
}

.ticket-form form{
  margin-top: 50px;
}
.form, .form-submit, .close-button, .error-message, .success-message {
  text-align: left;
  margin: 15px;
}

.ticket-problem textarea{
  margin-left: 15px;
  vertical-align: middle;
  border-radius: 10px;
}
.form input{
  margin-left: 15px;
  height: 20px;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.form select{
  margin-left: 15px;
}

.close-button{
  background-color: rgba(255, 0, 0, 0.3);
}

.success-message{
  padding: 10px;
  border-radius: 5px;
  color: green;
  background-color: rgba(0, 255, 0, 0.3);
}

.error-message{
  padding: 10px;
  border-radius: 5px;
  color: red;
  background-color: rgba(255, 0, 0, 0.3);
}
